.summary {
  margin-bottom: 50px;
  font-size: 1.15rem;
  line-height: 1.6;
  
  @include breakpoint('small') {
    margin-bottom: 80px;
  }

  .summary-date {
    font-weight: bold;
    color: var(--heading-color);
    font-size: 0.9rem;
    opacity: 0.8;
  }

  .summary-title {
    margin: 16px 0;
    width: 100%;
    font-size: var(--step-2);
    line-height: 1.2;
    
    @include breakpoint('small') {
      width: 85%;
      font-size: var(--step-3);
    }

    a {
      text-decoration: none;
      &:hover {
        color: var(--highlight-color);
      }
    }
  }

  .summary-description {
    width: 100%;
    line-height: 1.5;
    opacity: 0.8;
    
    @include breakpoint('small') {
      width: 80%;
    }
  }
}

.view-more {
  display: inline-block;
  margin-top: 20px;
  font-family: var(--font-family-heading);
  font-weight: 700;
  font-size: 1.1rem;
  color: var(--highlight-color);
  text-decoration: none !important;

  &:hover {
    text-decoration: underline !important;
  }
}
