{{ $id := .Get "id" }}
{{ $page := site.GetPage (printf "posts/%s" $id) }}

{{ if $page }}
<div class="see-also-preview">
    <div class="see-also-label">Recommended Read</div>
    <div class="see-also-body">
        {{ if $page.Params.image }}
        <div class="see-also-image">
            <img src="{{ $page.Params.image | relURL }}" alt="{{ $page.Title }}" width="120" height="80">
        </div>
        {{ end }}
        <div class="see-also-text">
            <h4 class="see-also-title"><a href="{{ $page.RelPermalink }}">{{ $page.Title }}</a></h4>
            <p class="see-also-summary">{{ $page.Summary | plainify | truncate 120 }}</p>
        </div>
    </div>
</div>
{{ else }}
    {{ warnf "See Also shortcode could not find page with id: %s" $id }}
{{ end }}
