.footer {
    margin-top: 30px;
    @include breakpoint('small') {
      padding-top: 40px;
    }
  }
  
  .social-icon {
    margin-right: 10px;
    a {
      text-decoration: none;
      &:hover {
        text-decoration: none;
        img {
          opacity: 0.7;
        }
      }
    }
    img {
        /* Default is dark mode, so invert black icons to white */
        filter: invert(1);
        transition: filter 0.3s ease;
    }
  }

  body.light-mode {
    .social-icon img {
        /* Revert to black for light mode */
        filter: invert(0);
    }
  }
