<div id="menu-main-mobile" class="menu-main-mobile">
    <ul class="menu">
        {{ $currentPage := . }}
        {{ range .Site.Menus.main }}
            {{ if .HasChildren }}
                <li class="menu-item-{{ .Name | lower }} has-children">
                    <a href="#">{{ .Name }}</a>
                    <ul class="sub-menu">
                        {{ range .Children }}
                            <li class="menu-item-{{ .Name | lower }}">
                                <a href="{{ .URL }}">{{ .Name }}</a>
                            </li>
                        {{ end }}
                    </ul>
                </li>
            {{ else }}
                {{ $active := $currentPage.IsMenuCurrent "main" . }}
                {{ $active = or $active (eq (.URL | relLangURL) ($currentPage.RelPermalink | relLangURL)) }}
                <li class="menu-item-{{ .Name | lower }} {{ if $active }}active{{ end }}">
                    <a href="{{ .URL }}">{{ .Name }}</a>
                </li>
            {{end}}
        {{end}}
    </ul>
</div>





