<div class='header'>
  <a class="header-logo" href="{{ site.Home.RelPermalink }}">
    {{ partial "logo.html" . }}
  </a>

  <div class="header-right">
    <div class="menu-main">
      <ul style="font-family: Fraunces;">
        {{ $currentPage := . }}
        {{ range site.Menus.main }}
          {{ if .HasChildren }}
            <li class="menu-item-{{ .Name | lower }} has-children">
              <a href="#">
                <span>{{ .Name }}</span>
                <svg class="dropdown-icon" viewBox="0 0 24 24"><path d="M7 10l5 5 5-5z"/></svg>
              </a>
              <ul class="sub-menu">
                {{ range .Children }}
                  <li class="menu-item-{{ .Name | lower }}">
                    <a href="{{ .URL }}">{{ .Name }}</a>
                  </li>
                {{ end }}
              </ul>
            </li>
          {{ else }}
            {{ $active := $currentPage.IsMenuCurrent "main" . }}
            {{ $active = or $active (eq (.URL | relLangURL) ($currentPage.RelPermalink | relLangURL)) }}
            <li class="menu-item-{{ .Name | lower }} {{ if $active }}active{{ end }}">
              <a href="{{ .URL }}">
                {{ .Pre }}
                <span>{{ .Name }}</span>
              </a>
            </li>
          {{ end }}
        {{ end }}
      </ul>
    </div>

    <button id="theme-toggle" class="theme-toggle" aria-label="Toggle theme">
      <svg id="sun-icon" style="display:none;" viewBox="0 0 24 24"><path d="M12 7c-2.76 0-5 2.24-5 5s2.24 5 5 5 5-2.24 5-5-2.24-5-5-5zM2 13h2c.55 0 1-.45 1-1s-.45-1-1-1H2c-.55 0-1 .45-1 1s.45 1 1 1zm18 0h2c.55 0 1-.45 1-1s-.45-1-1-1h-2c-.55 0-1 .45-1 1s.45 1 1 1zM11 2v2c0 .55.45 1 1 1s1-.45 1-1V2c0-.55-.45-1-1-1s-1 .45-1 1zm0 18v2c0 .55.45 1 1 1s1-.45 1-1v-2c0-.55-.45-1-1-1s-1 .45-1 1zM5.99 4.58a.996.996 0 00-1.41 0 .996.996 0 000 1.41l1.06 1.06c.39.39 1.03.39 1.41 0s.39-1.03 0-1.41L5.99 4.58zm12.37 12.37a.996.996 0 00-1.41 0 .996.996 0 000 1.41l1.06 1.06c.39.39 1.03.39 1.41 0s.39-1.03 0-1.41l-1.06-1.06zm1.06-10.96a.996.996 0 000-1.41.996.996 0 00-1.41 0l-1.06 1.06c-.39.39-.39 1.03 0 1.41s1.03.39 1.41 0l1.06-1.06zM7.05 18.36a.996.996 0 000-1.41.996.996 0 00-1.41 0l-1.06 1.06c-.39.39-.39 1.03 0 1.41s1.03.39 1.41 0l1.06-1.06z"/></svg>
      <svg id="moon-icon" viewBox="0 0 24 24"><path d="M12.12 22a9.66 9.66 0 01-5.13-1.45A9.74 9.66 0 012 12a9.66 9.66 0 019.66-9.66 9.38 9.38 0 011.66.18 1 1 0 01.37 1.74A8.12 8.12 0 008 12a8.12 8.12 0 006.12 7.89 1 1 0 011.07 1.44 9.58 9.3 0 01-3.07 1.67z"/></svg>
    </button>

    <div id="toggle-menu-main-mobile" class="hamburger-trigger">
      <button class="hamburger">
        <span></span>
        <span></span>
        <span></span>
      </button>
    </div>
  </div>
</div>
