{{ define "body_classes" }}page-home{{ end }}

{{ define "main" }}
  {{ $pages := where .Site.RegularPages "Type" "posts" }}
  {{ $sorted := ($pages.ByParam "date").Reverse }}
  {{ if .Site.Params.sortPostsByDateOldestFirst }}
    {{ $sorted = $pages.ByParam "date" }}
  {{ end }}
  {{ $paginator := .Paginate $sorted 24 }}

  {{ if .Site.Params.showAuthorOnHomepage }}
    {{ partial "author-large.html" . }}
  {{ end }}
<br>
  <section class="intro animate-entrance">
    <h1>{{ .Title }}{{ if .Site.Params.addDot }}<span class="dot">.</span>{{ end }}</h1>
    {{ if .Site.Params.showIntroContentOnHomepage}}
      <div class="intro-content">{{ .Content }}</div>
    {{ end }}
  </section>

  {{ if .Site.Params.showPostsOnHomepage }}
    <section class="posts-list">
        {{ if .Site.Params.usePaginationOnHomepage }}
        {{ range $paginator.Pages }}
            {{ .Render "summary" }}
        {{ end }}
        {{ partial "paginator" . }}
        {{ else }}
        {{ $limit := .Site.Params.limitPostsOnHomepage | default 3 }}
        {{ range first $limit $sorted}}
            {{ .Render "summary" }}
        {{ end }}
        <a class="view-more reveal" href="/posts">More Posts</a>
        {{ end }}
    </section>
  {{ end }}

{{ end }}

{{ define "footer_js" }}
{{ end }}
