{{ $path := .Get "src" }}
{{ $page := .Site.GetPage $path }}

{{/* If not found, try stripping .md and adding /posts/ prefix if missing */}}
{{ if not $page }}
    {{ $path = strings.TrimSuffix ".md" $path }}
    {{ if not (strings.HasPrefix $path "posts/") }}
        {{ $page = .Site.GetPage (printf "posts/%s" $path) }}
    {{ else }}
        {{ $page = .Site.GetPage $path }}
    {{ end }}
{{ end }}

{{ if $page }}
<div class="see-also-callout">
    <div class="see-also-label">See Also</div>
    <h4 class="see-also-title"><a href="{{ $page.RelPermalink }}">{{ $page.Title }}</a></h4>
    <p class="see-also-description">{{ $page.Description | default ($page.Summary | plainify | truncate 120) }}</p>
</div>
{{ else }}
    {{ warnf "see-also shortcode: could not find page at path %q" (.Get "src") }}
{{ end }}





